body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #adad6d;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: black;
  font-size: 1em;
}

h2{
  color: aliceblue;
  font-size: 1.1em;
}

p{
  color: aliceblue;
  font-family: monospace;
  font-weight: bold;
  font-size: 1em;
}

.App{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.thewall{
  margin-top: 2%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}



.thermo{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 5%;
  /* height: 1000px; */
  width: 65%;
  background-color: rgb(0,0,255);
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgb(49, 49, 49);
}


.facts{
  height: 30px;
}


.display{
  margin-top: 20px;
}

.temp{
  background-color: aquamarine;
  margin: 5%;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 5px grey inset;
}

.dad-alert{
  margin-top: 15px;
  padding: 5%;
  text-align: left;
}

.controls{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 20px;
}

button{
  margin:15%;
  height: 55px;
  width: 55px;
  font-size: 1.3em;
  border-radius:100%;
}

#dadjoke{
 opacity: 0;
 transition: opacity .3s ease-in-out;
}

#dadjoke.fade{
  opacity: 100%;
 }

